# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor

echo-demo
echo-default-backend
echo-demo-8080
echo-demo-8081
echo-demo-8082

.DS_Store